# Fichiers objets
*.o

# Fichiers binaires
*.out
*.exe
*.bin
*.dll
*.so

# Fichiers générés lors de la compilation
*.a
*.lib

# Dossiers de build
build/
release/

# Fichiers de sauvegarde
*~
*.bak
*.tmp

# Autres fichiers et dossiers
.DS_Store
.vscode/
.idea/
*.swp
